<div class="gallery-launcher">
    <a class="category" href="/gallery/oil_portraits">
        <div class="image-wrapper">
            <div class="image"><img src="http://res.cloudinary.com/bhirsch-cloud/image/upload/c_fill,g_face:center,h_500,w_500/v1/rebecca-becker/kwqzydnspwe4jnr0hdgd"></div>
        </div>
        <div class="category-name-wrapper">
            <div class="category-name">Oil Portraits</div>
        </div>
    </a>
    <a class="category" href="/gallery/pastel_portraits">
        <div class="image-wrapper">
            <div class="image"><img src="http://res.cloudinary.com/bhirsch-cloud/image/upload/c_fill,g_face:center,h_500,w_500/v1/rebecca-becker/uylbhqg8yd0s7yqxvpp1"></div>
        </div>
        <div class="category-name-wrapper">
            <div class="category-name">Pastel Portraits</div>
        </div>
    </a>
    <a class="category" href="/gallery/pet_portraits">
        <div class="image-wrapper">
            <div class="image"><img src="http://res.cloudinary.com/bhirsch-cloud/image/upload/c_fill,g_face:center,h_500,w_500/v1/rebecca-becker/yuge1a3oqviyhzgkxaml"></div>
        </div>
        <div class="category-name-wrapper">
            <div class="category-name">Pet Portraits</div>
        </div>
    </a>
    <a class="category" href="/gallery/abstracts_and_landscapes">
        <div class="image-wrapper">
            <div class="image"><img src="http://res.cloudinary.com/bhirsch-cloud/image/upload/c_fill,g_face:center,h_500,w_500/v1/rebecca-becker/aeklelpmirhyisiwb3z8"></div>
        </div>
        <div class="category-name-wrapper">
            <div class="category-name">Abstracts/Landscapes</div>
        </div>
    </a>
</div>
