<div class="nav-button">
    <i class="fa fa-bars"></i>
</div>
<div class="side-nav-wrapper">
    <div class="side-nav-cover"></div>
</div>
<div class="side-nav-wrapper">
    <ul class="side-nav">
        <li>
            <a href="/#home">Home</a>
        </li>
        <li>
            <a href="/gallery/all">Gallery</a>
        </li>
        <li>
            <a href="/#pricing">Pricing</a>
        </li>
        <li>
            <a href="/#testimonials">Testimonials</a>
        </li>
        <li>
            <a href="/#contact">Contact</a>
        </li>
    </ul>
</div>
