<div class="testimonials">
  {% for testimonial in site.data.testimonials.testimonials limit:3 %}
    <div class="testimonial-wrapper">
      <div class="testimonial">
        <div class="quote">{{testimonial.quote}}</div>
        <div class="author">{{testimonial.author}}</div>
      </div>
    </div>
  {% endfor %}
  <div class="expandable-wrapper">
    <div class="testimonials expandable">
      {% for testimonial in site.data.testimonials.testimonials offset:3 %}
        <div class="testimonial-wrapper">
          <div class="testimonial">
            <div class="quote">{{testimonial.quote}}</div>
            <div class="author">{{testimonial.author}}</div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
<h3 id="more-testimonials">See more testimonials...</h3>
<h3 id="fewer-testimonials">See fewer testimonials...</h3>
<script>
    let moreTestimonialsButton = document.querySelector('#more-testimonials');
    let fewerTestimonialsButton = document.querySelector('#fewer-testimonials');
    let testimonialsExpandable = document.querySelector('.testimonials.expandable')
    let testimonialsExpandableContainer = document.querySelector('.expandable-wrapper')

    moreTestimonialsButton.onclick = () => {
        moreTestimonialsButton.style.visibility = 'hidden';
        moreTestimonialsButton.style.width = '0px';
        fewerTestimonialsButton.style.visibility = 'visible';
        fewerTestimonialsButton.style.width = 'auto';
        let height = testimonialsExpandable.getBoundingClientRect().height;
        testimonialsExpandableContainer.style.height = `${height}px`;
    }

    fewerTestimonialsButton.onclick = () => {
        fewerTestimonialsButton.style.visibility = 'hidden';
        fewerTestimonialsButton.style.width = '0px';
        moreTestimonialsButton.style.visibility = 'visible';
        moreTestimonialsButton.style.width = 'auto';
        testimonialsExpandableContainer.style.height = '0px';
    }
</script>
